/* @import url("formating.css"); */
.container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
}
.px-5{
    padding: 23px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 33.333%;
}
.card-item{
    padding: 23px;
}
.title{
    background: red;
}
.gambar img{
    width: 100%
}
